<ion-card>
  <ion-card-header>
    <ng-container *ngIf="showIssueStatus">
      <ion-card-subtitle *ngIf="issue.doesRequireHelp">
        <ion-text color="primary">Looking for Supporters...</ion-text>
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="issue.closedTimestamp">
        closed on {{issue.closedTimestamp | date}}
      </ion-card-subtitle>
    </ng-container>
    <ion-card-title>{{ issue.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <span>{{ issue.description }}</span>
    <ion-buttons *ngIf="enabledActions?.length > 0">
      <ion-button *ngIf="enabledActions.includes('reject')" color="danger" (click)="rejectIssue()" [disabled]="!isIssueEnabled">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button *ngIf="enabledActions.includes('support')" color="success" (click)="supportIssue()" [disabled]="!isIssueEnabled">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="enabledActions.includes('close')" color="danger" (click)="closeIssue()" [disabled]="!isIssueEnabled">
        <ion-label>close issue</ion-label>
        <ion-icon slot="end" name="checkmark-done-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>
