<ion-card>
  <ion-card-header>
    <ion-card-title>{{ issue.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <span>{{ issue.description }}</span>
    <ion-buttons *ngIf="isProposal">
      <ion-button color="danger" (click)="rejectIssue()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button color="success">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>
