<ion-header>
  <ion-toolbar>
    <ion-title>Issue Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="issueState$ | async as issueState">
    <ion-card *ngIf="issueState.proposalState === 'noneFound'">
      <ion-card-content>
        Currently, there is no proposal for you. Once a new issue is created, it will automatically show up here.
      </ion-card-content>
    </ion-card>
  </ng-container>
  <app-issue *ngIf="proposal$ | async as proposal" [issue]="proposal"
             [enabledActions]="['reject', 'support']"
             (issueRejected)="onProposalRejected(proposal)"
             (issueSupported)="onProposalSupported(proposal)"></app-issue>
</ion-content>
