<ion-header>
  <ion-toolbar>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-issue *ngIf="currentIssue$ | async as issue" [issue]="issue" [enabledActions]="enabledIssueActions$ | async"></app-issue>
  <ng-container *ngIf="supportState$ | async as supportState">
    <!-- waiting for user -->
    <ng-container *ngIf="!supportState.participants.length > 0">
      <ion-list-header>
        <ion-label>
          Waiting for Supporter...
        </ion-label>
      </ion-list-header>
      <ion-progress-bar value="0.45" buffer="0.9"></ion-progress-bar>
    </ng-container>

    <!-- List of Supporters -->
    <ion-chip style="margin-left: 10px" disabled *ngFor="let participant of supportState.participants">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{participant.givenName}} {{participant.familyName}}</ion-label>
    </ion-chip>

    <!-- Messages -->
    <app-message-block *ngFor="let messageBlock of messageBlocks$ | async" [messages]="messageBlock"></app-message-block>
    <form class="send-message" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
      <ion-item>
        <ion-textarea formControlName="text" placeholder="Message"></ion-textarea>
      </ion-item>
      <ion-button color="primary" type="submit" [disabled]="messageForm.invalid">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </form>
  </ng-container>
</ion-content>
