<ion-header>
  <ion-toolbar>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-issue *ngIf="currentIssue$ | async as issue" [issue]="issue"></app-issue>
  <ng-container *ngIf="supportState$ | async as supportState">
    <!-- waiting for user -->
    <ng-container *ngIf="!supportState.supporters.length > 0">
      <ion-list-header>
        <ion-label>
          Waiting for Supporter...
        </ion-label>
      </ion-list-header>
      <ion-progress-bar value="0.45" buffer="0.9"></ion-progress-bar>
    </ng-container>

    <!-- List of Supporters -->
    <ion-chip style="margin-left: 10px" disabled *ngFor="let supporter of supportState.supporters">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{supporter.givenName}} {{supporter.familyName}}</ion-label>
    </ion-chip>

    <!-- Messages -->
    <div class="message" *ngFor="let message of supportState.messages"
         [class.sent-by-me]="(user$ | async).id === message.authorId">
      <ion-chip [color]="(user$ | async).id === message.authorId ? 'primary' : undefined">{{message.text}}</ion-chip>
    </div>

    <form class="send-message" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
      <ion-item>
        <ion-textarea formControlName="text" placeholder="Message"></ion-textarea>
      </ion-item>
      <ion-button color="primary" type="submit" [disabled]="messageForm.invalid">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </form>
  </ng-container>
</ion-content>
